.bubble {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-top: 50px;
}

.bubble span {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: #02cbf7;
  margin: 0 4px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px #02cbf744, 0 0 5px #02cbf7, 0 0 10px #02cbf7;
  z-index: -30;
}

.bubble span:nth-child(even) {
  background-color: #ff2d75;
  box-shadow: 0 0 0 2px #ff2d7544, 0 0 5px #ff2d75, 0 0 10px #ff2d75;
}

