@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #05cbf7;
  --color-primary-low: #02a0c4f3;
  --color-secondary: #ff2d75;
  --primary-text-color: #05cbf7;
  --secondary-text-color: #6a7280;
  --tertiary-text-color: #141f1d;
  --background-color: #e3e6ea;
  --main-color: #fff;
  --shadow-color: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  * {
    font-size: 14px;
  }
}

html,body {
  -webkit-tap-highlight-color: transparent;
  width: 100vw;
}