.mouse {
  transform: translateY(0);
  animation: scrollAnimation 1.5s infinite;
}

@keyframes scrollAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}

.change {
  border-radius: 76% 24% 52% 48% / 62% 84% 16% 38%;
  animation: morph alternate-reverse 2s infinite linear;
}

@keyframes morph {
  0% {
    border-radius: 76% 24% 52% 48% / 62% 84% 16% 38%;
  }
  25% {
    border-radius: 59% 41% 52% 48% / 62% 84% 16% 38%;
    transform: translateY(2px);
  }
  50% {
    border-radius: 49% 51% 52% 48% / 62% 64% 36% 38%;
    transform: translateY(4px);
  }
  75% {
    border-radius: 31% 69% 52% 48% / 74% 64% 36% 26%;
    transform: translateY(6px);
  }
  100% {
    border-radius: 23% 77% 35% 65% / 78% 47% 53% 22%;
    transform: translateY(8px);
  }
}

.experience {
  position: relative;
  height: fit-content;
}

.experience button {
  position: relative;
  z-index: 2;
  transition: all 0.5s ease 0s;
  width: 160px;
}

.experience button:hover {
  /* margin-left: 4px; */
  background: #9af0ff;
  width: 156px;
  transition: all 0.5s ease 0s;
}

.experience .start-line {
  position: absolute;
  top: 0;
  z-index: 0;
  border-left: 4px solid #85ebff;
  transition: all 0.5s ease 0s;
  height: 100%;
}
.experience .animation {
  position: absolute;
  top: 0;
  z-index: 1;
  border-left: 4px solid var(--color-primary);
  transition: all 0.5s ease 0s;
  background: #e7fbff;
}

.experience button:nth-child(1) {
  height: 40px;
}
.experience  .start-home,
.selected ~ .animation {
  height: 40px;
  width: 99%;
  border-left: 4px solid black;
  top: 0;
}
.experience button:nth-child(2) {
  height: 40px;
}

.experience button:nth-child(2) .selected ~ .animation {
  height: 40px;
  top: 40px;
}
.experience button:nth-child(3) {
  height: 40px;
}
.experience button:nth-child(3) .selected ~ .animation {
  height: 40px;
  top: 80px;
}
.experience button:nth-child(4) {
  height: 40px;
}
.experience button:nth-child(4) .selected ~ .animation {
  height: 40px;
  top: 120px;
}
.experience button:nth-child(5) {
  height: 40px;
}
.experience button:nth-child(5) .selected ~ .animation {
  height: 40px;
  top: 160px;
}
